body{font-family: sans-serif;
font-size: small}

.logo {position: static;
    padding: 109px 109px 50px 109px;
    text-align: center;
}
.about {float: left;
    color: black;
    text-decoration-line: unset;
    padding: 15px;
    padding-top: 15px;
    opacity: .75;
}
.about:hover{cursor: pointer;
    text-decoration: underline;
}
.store {float: left;
    color: black;
    text-decoration-line: unset;
    padding: 15px;
    padding-top: 15px;
    opacity: .75;
}
.store:hover{cursor: pointer;
    text-decoration: underline;
}
.gmail {
    float: right;
    color: black;
    text-decoration-line: unset;
    padding: 15px;
    padding-top: 15px;
    opacity: .75;
}
.gmail:hover{cursor: pointer;
    text-decoration: underline;
}
.images {
    float: right;
    color: black;
    text-decoration-line: unset;
    padding: 15px;
    padding-top: 15px;
    opacity: .75;
}
.images:hover{cursor: pointer;
    text-decoration: underline;
}
.search{
    display: block;
    position: static;
    border-color: gray;
    text-align: center;
    padding-bottom: 275px;

}
.nav{
    text-
    
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.ad {padding-right: 25px;}
.term{padding-left: 25px;}
.sett{padding-left: 25px;}